
<body>
    <div>
        <section class="view-for-user">
        <%= render 'layouts/header'%>
        <div class="container">
            <h2>Đã đặt hàng thành công</h2>
            <p> Bấm vào đây để xem chi tiết lịch sử đặt hàng <%=link_to "tại đây", user_path(current_user.id)%> </p>
        </div>
        <%= render 'layouts/footer'%>
        </section>  
    </div>
</body>
