<div class="container bench">
  <div class="card card-warning">
    <div class="card-header">
      <h3 style="text-align: center;">Chỉnh sửa danh mục</h3>
    </div>
        <!-- /.card-header -->
    <div class="card-body">
        <%= form_for [:admin, @category] do |f|%>
          <div class="custom-file">
            <label>Ảnh</label>
            <%= f.file_field :image%>
          </div>
          <div class="form-group">
            <label>Tên</label>
            <%= f.text_field :name, class:"form-control" , placeholder:"Nhập ..." %>
          </div>
          <div class="form-group">
            <%= f.submit "Tạo", class:"btn btn-outline-warning"%>
          </div>
        <% end %>
    </div>
  </div>
</div>