<div class="card">
  <div class="card-header header-for-admin">
    <h2 >Sản phẩm</h2>
  </div>
  <!-- /.card-header -->
  <div class="card-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Tên sản phẩm</th>
          <th> Thông tin </th> 
          <th>Giá cũ</th>
          <th>Giá mới</th>
          <th>Thể loại</th>
          <th> Thao tác </th>
        </tr>
      </thead>
      <tbody id="myTable">  
      <tbody>  
        <% @products.each_with_index  do |product, index| %>
        <%= render 'product', product: product, index: index %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>