<p>Chào mừng <%= @resource.email %>!</p>

<p>Tài khoản của bạn đã bị khóa do có quá nhiều lần đăng nhập không thành công.</p>

<p>Nhấp vào liên kết bên dưới để mở khóa tài khoản của bạn:</p>

<p><%= link_to 'mở khóa tài khoản của tôi', unlock_url(@resource, unlock_token: @token) %></p>
