<!--footer start-->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="link-title">
          <h4>Về  Natto</h4>
          <ul class="links">
            <li><a href="about.html">Về chúng tôi</a></li>
            <li><a href="#">Nghề nghiệp</a></li>
            <li><a href="our_blog.html">Blog</a></li>
            <li><a href="contact.html">Liên lạc</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
        <div class="link-title">
          <h4>Việc kinh doanh</h4>
          <ul class="links">
            <li><a href="#">Đơn hàng kinh doanh</a></li>
            <li><a href="#">Đơn hàng</a></li>
            <li><a href="#">Đặt hàng</a></li>
            <li><a href="#">Quảng cáo</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
        <div class="link-title">
          <h4>Hợp tác với chúng tôi</h4>
          <ul class="links">
            <li><a href="add_driver.html">Đối với tài xế</a></li>
            <li><a href="add_driver.html">Đối với chúng tôi</a></li>
          </ul>
          <div class="social-btns">
            <div class="container">
              <a href="https://www.facebook.com/", class="social_fix">
                <div class="social-btn soc-btn "><i class="fab fa-facebook-f"></i></div></a>
              <a href="https://www.instagram.com/?hl=vi", class="social_fix">
                <div class="social-btn soc-btn "><i class="fab fa-instagram"></i></div></a>
              <a href="https://www.google.com.vn/?hl=vi", class="social_fix">
                <div class="social-btn soc-btn "><i class="fab fa-google"></i></div></a>
              <a href="https://www.youtube.com/", class="social_fix">
                <div class="social-btn soc-btn "><i class="fab fa-youtube"></i></div></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
        <div class="link-title">
          <h4>Chính sách</h4>
          <ul class="links">
            <div class="privacy-terms">
              <li><a href="#">Chính sách</a></li>
                <br/>
              <li><a href="#">Điều khoản và điều kiện</a></li>
                <br/>
              <li><a href="#">Sơ đồ trang web </a></li>
            </div>
          </ul>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="cards">
          <%= image_tag 'cards.png' %>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="copyright-text">
            <i class="far fa-copyright"></i>Chào mừng đến với nhà hàng của chúng tôi <a href="index.html">Natto</a> luôn sẵn sàng phục vụ bạn
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
    <!--footer end-->